ul{
    list-style-type: none;
}

li > p{
    padding: 15px 0 15px 0;
    width: 150px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 105%;
}

li > p:link,
li > p:visited{
    border-top: 2px solid transparent;
    transition: border-top 0.4s;
}

li > p:hover,
li > p:active{
    border-top: 2px solid #d91f04;
    height: 150%;
    width: 165px;
    font-size: 113%;
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
}

#tables > div{
    visibility: hidden;
}