form > *,
form > label > * {
    display: block;
    width: 100%;
    margin-top: 1em;
}

form {
    width: 30%;
    margin: 10% auto 0 auto;
}

textarea {
    font-family: 'Lato', 'Arial', sans-serif;
}

[type="submit"]{
    text-align: center;
    margin-top: 8%;
    width: 30%;
    font-size: 100%;
}

input {
    height: 30px;
    text-align: center;
    width: 80%;
    font-size: 120%;
    margin: 15px auto 0 auto;
    font-weight: 200;
    border: none;
    border-bottom: 1px solid black;
}