#wrapper{
    display: grid;
    grid-template-columns: 20% 64%;
    grid-gap: 140px;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 400;
}

h3{
    font-weight: 400;
    word-spacing: 5px;
    margin-left: 2%;
}

/*
    ASIDE css
 */

ul{
    list-style-type: none;
    position: sticky;
    position: -webkit-sticky;
    top: 200px;
    padding-top: 13%;
}

li > p{
    padding: 15px 0 15px 0;
    width: 150px;
    background-color: #f2f2f2;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 105%;
}

li > p:link,
li > p:visited{
    border-top: 2px solid transparent;
    transition: border-top 0.4s;
}

li > p:hover,
li > p:active{
    height: 150%;
    width: 165px;
    font-size: 113%;
}

li:first-child > p:hover{
    border-top: 2px solid #26A69A;
}

li:nth-child(2) > p:hover{
    border-top: 2px solid #4CAF50;
}

li:nth-child(3) > p:hover{
    border-top: 2px solid #FF3D00;
}

li:nth-child(4) > p:hover{
    border-top: 2px solid #FFC107;
}

/*
    TABLE css
 */

#tables {
    margin-right: 14%;
}

table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 105%;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

td{
    text-align: center;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #ddd;
}